// [class*="col"] {
//   background-color: rgba(112.520718, 44.062154, 249.437846, .15);
//   border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
//   color: #000;
// }

.App {
  min-height: 100vh;
  position: relative;
}

span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #d0cece;
}


.row {

  img {
    max-width: 6rem;
  }
}

#rounded-pill {
  width: 150px;
  height: 75px;
}